*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: top;
}
 
body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Raleway'
}

:root {
    --netflix_red: rgb(139, 0, 0, 0.8);
    --low_black: rgb(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.7;
}

/* ***************************************NAVIGATEUR***************************************** */
#navigateur {
    background: var(--low_black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
}

#navigateur a {
    border-right: 1px solid white;
    padding-right: 150px;
}

#navigateur nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

/* ***************************************FOOTER*************************************************** */
footer {
    background: var(--netflix_red);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
}

.liens i {
    padding: 0 20px 0 20px; 
}

.contact {
    border-right: 1px solid white;
    padding-right: 20px
}

/* **********************************************DETAIL FILM******************************************** */
.blocks {
    display: flex;
    justify-content: space-between;
}

.infos, .synopsis {
    background-color: var(--low_black);
    border-radius: 10px;
    margin: 20px 40px;
}

.synopsis {
    width: 520px;
    height: auto;
    padding: 20px 50px 0px 40px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.synopsis h2 {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
}

.synopsis p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.infos {
    width: 300px;
    padding: 20px 50px;
    margin-top: 50px;
}

.infos h3 {
    font-family: 'Jura', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.infos p {
    font-weight: 300;
    line-height: 130%;
    font-size: 18px;
}

.info {
    padding: 8px 0 8px 0;
}

.buttons {
    text-align: center;
}

.button {
    align-items: center; 
    padding: 10px 30px; 
    margin: 20px 0;
    background-color: var(--netflix_red);
    border: none;
    border-radius: 10px;
    width: fit-content;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    color: white;
}


/* *********************************************Listes***************** *************************************** */

.list p {
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
}

.list h2 {
    text-align: center;
    background-color: var(--netflix_red);
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    margin: 20px auto;
}

.boutonDelete {
    text-align: center;
}

.personnes {
    display: flex;
    margin: auto;
    width: fit-content;
}

.personne_block1 {
    padding-right: 50px;
    border-right: 1px solid white;
}

.personne_block2 {
    padding-left: 50px;
}

/* ***************************************************Détail Acteur + réal ***************************************/

.personne {
    text-align: center;
}

.photo h2 {
    background-color: var(--netflix_red);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    word-wrap: break-word;
}

.personne img {
    background-color: var(--netflix_red);
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    height: 500px;
    margin: 20px;
}

.infosPersonne {
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
}

.infosPersonne {
    color: rgb(224, 219, 219);
}

.infosPersonne p {
    padding: 5px;
    font-weight: 600;
    color: white;
}

.infosPersonne a {
    color: white;
    font-weight: 600;
}

/* ********************************************************** Détails genre*********************************************************** */

.genre h3 {
    text-align: center;
    background-color: var(--netflix_red);
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 1em;
}

/************************************************************ AJOUT CONTENU ********************************************************* */
.add {
    display: flex;
    justify-content: center;
}

.ajouter {
    background-color: var(--netflix_red);
    margin: 50px;    
    padding: 25px;
    border-radius: 10px;
        label {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
        h2 {
            background-color: var(--low_black);
            padding: 20px;
            border-radius: 10px;
            margin: 10px;
            text-align: center;
        }
}

.ajouter {
    padding: 30px;
    background-color: var(--netflix_red);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
        p {
            margin: 20px 10px;
        }
        input {
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
         label {
            margin: 0;
        }
}  

.bouton_envoi {
    text-align: center;
        input {
            background-color: var(--low_black);
            cursor: pointer;
            padding: 10px;
            color: white;
            border-radius: 10px;
            font-size: 1.2em;
            border-bottom: none;
        }
}

.bouton_envoi:hover {
    opacity: 80%;
    transition: 0.3 ease-in-out;
}

.info_form label {
    padding-bottom: 10px;
}

.ajouterContenus {
    text-align: center;
    background-color: var(--netflix_red);
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    margin: auto;
        h2 {
            padding: 10px;
            background-color: var(--low_black);
            border-radius: 10px;
            margin: 15px;
        }
}
